include template.pug
block content
  #content
    #modal(class='modal')
      #modal-div
        label(for='room-name')= roomName
        br
        p.errorMessage
        input#room-name(type='text', name='room-name', autocomplete="off", maxlength='15', pattern=".{3,15}", title="3 to 15 characters", required)
          
        table(style='margin: auto')
          tr
            td
              button#create-room(type='button')= create
            td(style='padding-left: 10vw;')
              button#cancel(type='button')= cancel
    table
      tr
        td(style='padding-top:0; margin-top:0')
          .list-div(style='width: 35vw;')
            h5#rooms-list-text(style='text-align: left; margin-bottom: 0;')= roomsText
            hr#separator
          #rooms
            table(cellspacing="0" cellpadding="0")
              include roomsList.pug
          #div-create(style='text-align: left; height: 1.5em;')
            button#open-modal(type='button')= create
        td(style='width: 60%;', valign='top')
          h5(style='text-align: right;') welcome, !{username}
