doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='../assets/css/default.css')
  body
    #content
      .list-div
        h5#games-list-text= gamesText
        hr#separator
      #games
        table(cellspacing="0" cellpadding="0")
          - var gamesList= games;
          each game in gamesList
            tr#room(onclick="alert('Hey');")
              td
                p#roomName= game.name
              td 
                p#playersInRoom= game.players
      #div-create
        button#create(type='button')= create
